body {
  background: #3590a5;
}

aside {
  float: left;
  background: #2e2b3b;
  width: 20%;
  padding: 2.5%;
  height: 100vh;
  color: #fff;
  border-right: 5px solid #4d4d4d;
}

header.page-header {
  background: #2e2b3b no-repeat left/cover
    url(/media/examples/puppy-header-logo.jpg);
  display: flex;
  height: 100px;
  min-width: 120px;
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 0.2em;
  border-bottom: 5px solid #4d4d4d;
}

ul,
li {
  list-style-type: none;
}

header.page-header > h1 {
  text-align: center;
  margin: auto;
}

aside img {
  width: 80px;
  float: left;
}

aside .logo {
  font-size: 20px;
  margin-left: 100px;
  font-weight: bold;
  position: relative;
  top: -55px;
}

aside h3 {
  margin-top: 50px;
  font-size: 28px;
}

aside ul {
  list-style: none;
}

aside ul li {
  color: #fff;
  display: block;
  margin-top: 20px;
  transition: transform 0.6s ease;
}

aside ul li:hover,
aside ul a:hover {
  color: #eb5959;
  text-decoration: none;
  transform: scale(1.05);
}

main .features {
  float: left;
  color: #fff;
  margin-top: 100px;
  text-align: center;
  width: 75%;
}

main .features h1 {
  font-size: 50px;
}
main .features p {
  max-width: 400px;
  margin: 20px auto;
}

a {
  color: #fda80d;
  text-decoration: underline;
  font-size: medium;
  margin: 1em;
}

form {
  margin-left: 20%;
  width: 500px;
  margin-top: 50px;
}

form p {
  text-align: right;
}

span.helptext {
  display: none;
}
