{% extends 'contacts/layout.html' %}
{% block title %} Birthday {% endblock %}
{% block header %}
<h1 style='margin-right: 100px'>Contacs birthday, {{ user.username|default:'Guest'}}</h1>
<li style = 'margin: 10px'><a href="{% url 'contacts:add-contact' %}">Add contact</a></li>
<li style = 'margin: 10px'><a href="{% url 'contacts:show-contacts' %}">Show contacts</a></li>
<li style = 'margin: 10px'><a href="{% url 'contacts:search-contact' %}">Search contacts</a></li>
{% endblock %}

{% block content %}
<div class="features">
    <p>
<h1>{{record.contact_name }}</h1>

<p>Email - {{record.contact_email}}</p>
<p>Adress - {{record.contact_adress}}</p>
<p>Birthday - {{record.contact_birthday}}</p>
<p>Left days to Birthday - {{birthday}}</p>
{{error}}
</p>
</div>
{% endblock %}