{% extends 'contacts/layout.html' %}

{% block title %}Delete contact{% endblock %}

{% block header %}
<h1 style='margin-right: 100px'>Delete contact, {{user.username|default:'Guest'}}</h1>
<li style = 'margin: 10px'><a href="{% url 'contacts:add-contact' %}">Add contact</a></li>
<li style = 'margin: 10px'><a href="{% url 'contacts:show-contacts' %}">Show contacts</a></li>
<li style = 'margin: 10px'><a href="{% url 'contacts:search-contact' %}">Search contacts</a></li>
{% endblock %}

{% block content %}
<div class="features">
    <p>
    <form action="" method="POST">
        {% csrf_token %}
        <br>
        <br>
        <button type='submit'>Delete contact</button>
    </form>
    </p>
</div>
{% endblock %}