{% extends 'contacts/layout.html' %}

{% block title %}Detail contact{% endblock %}

{% block content %}
<div class="features">
  <h1>{{contact.contact_name }}</h1>
  
  <p>{{contact.phone_set.all}} </p>
  <p>Email - {{contact.contact_email}}</p>
  <p>Adress - {{contact.contact_adress}}</p>
  <p>Birthday - {{contact.contact_birthday}}</p>

  <a class='btn btn-warning' href="/contacts/show_contacts/{{contact.id}}/delete">Delete contact</a>
  <br><br>
  <a class='btn btn-warning' href="/contacts/show_contacts/{{contact.id}}/update">Update contact</a>
  <br><br>
  <a class='btn btn-warning' href="/contacts/show_contacts/add_phone/{{contact.id}}">ADD phone</a>
  <br><br>
  <a class='btn btn-warning' href="/contacts/show_contacts/{{contact.id}}/daystobth">Day to birthday</a>
  </p>
</div>
{% endblock %}