{% extends 'contacts/layout.html' %}

{% block title %}Delete contact{% endblock %}

{% block content %}
	<div class="features">
        <h1>Detail contact</h1>
            <p>
                <a class='btn btn-warning' type="submit" href="/contacts/" target='_blank'>Main page </a>

                <h2>{{contact.contact_name }}</h2>
                <p>{{contact.contact_phone}}</p>
                <p>Email - {{contact.contact_email}}</p>
                <p>Adress - {{contact.contact_adress}}</p>
                <p>Birthday - {{contact.contact_birthday}}</p>

                <a href = "/contacts/show_contacts/{{contact.id}}/delete">Delete contact</a>
                <br>
                <a href = "/contacts/show_contacts/{{contact.id}}/update">Update contact</a>    
            </p>
    </div>
{% endblock %}