{% extends 'contacts/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
	<div class="features">
		<h1>What are you want to do with contacts?</h1>
            <p>
                <form>
                    <a class='btn btn-warning' type="submit" href="/contacts/add_contact/" target='_blank'>Add contact </a>
                    <br>
                    <br>
                    <a class='btn btn-warning' type="submit" href="/contacts/show_contacts/" target='_blank'>Show contacts </a>
                    <br>
                    <br>
                </form>
            </p>
	</div>
{% endblock %}