{% extends 'contacts/layout.html' %}

{% block title %}Show contact{% endblock %}

{% block header %}
<h1>Show contact, {{user.username|default:'Guest'}}</h1>
{% endblock %}

{% block content %}
<a class='btn btn-warning' type="submit" href="/contacts/" target='_self'>Main page </a>

<h1>{{record_list.contact_name }}</h1>
<p>{{record_list.contact_phone}}</p>
<p>Email - {{record_list.contact_email}}</p>
<p>Adress - {{record_list.contact_adress}}</p>
<p>Birthday - {{record_list.contact_birthday}}</p>
{% endblock content %}