{% extends 'contacts/layout.html' %}

{% block header %}
<h1>Helper Notes Main Page, {{user.username|default:'Guest'}}</h1>

{% endblock %}

{% block title %}Notes details{% endblock %}

{% block content %}
<div class="features">
  
  <p>The Helper has the following notes counts:</p>
  <ul>
    <li style='margin: 10px'><a href="{% url 'notes:index' %}">Home</a></li>
    <li style='margin: 10px'><a href="{% url 'notes:note' %}">My Notes</a></li>
    <li style='margin: 10px'><a href="{% url 'notes:note-create' %}">Create Note</a></li>
    <li style='margin: 10px'><a href="{% url 'notes:tags' %}">Tags</a></li>
    <li style='margin: 10px'><a href="{% url 'notes:tag-create' %}">Tag crete</a></li>
    <li><strong>Your notes count:</strong> {{ notes_count }}</li>
  </ul>
</div>
{% endblock %}