{% extends 'contacts/layout.html' %}
{% block title %}Register{% endblock %}

{% block header %}
<h1>Register, {{user.username|default:'Guest'}}</h1>
{% endblock %}

{% block content %}
<div class="features">
    <p>
        <form action="" method="post">
            <p>
                {% csrf_token %}
                {%for err in form.errors %}
                {{err}}
                {% endfor %}
                {{form.as_ul}}<br>
                <input type="submit" value="Register">
            </p>
        </form>
    </p>
</div>
{% endblock %}