{% extends 'contacts/layout.html' %}

{% block title %}Notes details{% endblock %}
{% block content %}

{% block header %}
<h1>Note, {{user.username|default:'Guest'}}</h1>
{% endblock %}

<div>
	<h1>Title: {{ note.title }}</h1>

	<p><strong>Tags:</strong></p>
	{% if note.tags.all %}
	<ul>
		{% for tag in note.tags.all %}
		<li>
			<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>There are no tags in this note.</p>
	{% endif %}

	<div style="margin-left:20px;margin-top:20px">
		<h4>Note:</h4>
		{{ note.value }}
	</div>
</div>
<ul>
	<li><a href="{% url 'notes:note-update' note.id %}">Note update</a></li>
	<li><a href="{% url 'notes:note-delete' note.id %}">Note delete</a></li>
</ul>
{% endblock %}