{% extends 'contacts/layout.html' %}
{% block title %}Note{% endblock %}

{% block header %}
<h1 style='margin-right: 100px'>Your notes, {{user.username|default:'Guest'}}</h1>
<li style = 'margin: 10px'><a href="{% url 'notes:index' %}">Home</a></li>
<li style = 'margin: 10px'><a href="{% url 'notes:note' %}">My Notes</a></li>
<li style = 'margin: 10px'><a href="{% url 'notes:tags' %}">Tags</a></li>
<li style = 'margin: 10px'><a href="{% url 'notes:note-create' %}">Create Note</a></li>
{% endblock %}

{% block content %}
<div class="features">
  <h1>Delete Note</h1>
    <p>Are you sure you want to delete the note: {{ note.title }}?</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
    </form>
</div>
{% endblock %}