{% extends 'contacts/layout.html' %}

{% block title %}Notes details{% endblock %}
{% block header %}
<h1 style='margin-right: 100px'>Your notes, {{user.username|default:'Guest'}}</h1>
<li style='margin: 10px'><a href="{% url 'notes:index' %}">Home</a></li>
<li style='margin: 10px'><a href="{% url 'notes:note' %}">My Notes</a></li>
<li style='margin: 10px'><a href="{% url 'notes:tags' %}">Tags</a></li>
<li style='margin: 10px'><a href="{% url 'notes:note-create' %}">Create Note</a></li>
{% endblock %}

{% block content %}
<div class="features">
	<div>
		<h1>Title: {{ note.title }}</h1>

		<h4>Tags:</h4>
		{% if note.tags.all %}
		<ul>
			{% for tag in note.tags.all %}
			<li>
				<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>There are no tags in this note.</p>
		{% endif %}

		<div style="margin-left:20px;margin-top:20px">
			<h4>Note:</h4>
			{{ note.value }}
		</div>
		<div>
			<ul>
				<li style='margin-left: 20px'><a href="{% url 'notes:note-update' note.id %}">Note update</a></li>
				<li style='margin-left: 20px'><a href="{% url 'notes:note-delete' note.id %}">Note delete</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}